{% include "landingpage/headerlp.html" %}


                <!-- End of Topbar -->
                <br> <br> <br> <br> <br>
                <!-- Begin Page Content -->
                <div class="container-fluid col-lg-9">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Info Model</h1>

                    </div>



                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->

                            <div class="row">

                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Total Dataset</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">47.219</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Total Data Training</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">37.775</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Total Data Testing</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">9.444</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        Total Features</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">7</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        Total Target</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->


                                <!-- Pending Requests Card Example -->



                            </div>


                        <!-- Pie Chart -->

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Metrik Evaluasi</h6>
                                </div>
                                <div class="card-body">

                                <div class="row">



                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                            Mean Absolute Error</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">226,3896</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-info shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                                class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                            Mean Squared Error</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">166.292,6217</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                                class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Root Mean Squared Error</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">407,
                                                            7899</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Mean Absolute Percentage Error</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">0,075</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-danger shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                                class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                            Median Absolute Error</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">115</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-secondary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                                class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                            R2-Score</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">0,9832</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 mb-4">
                                        <div class="card border-left-dark shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                            Adjusted R2-Score</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">0,9832</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>









                                </div>
                            </div>



                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Arsitektur Model</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="../static/infomodel/img/jewelry.svg" alt="...">
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Arsitektur</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>MultiLayer Perceptron (MLP)</td>
                                        </tr>
                                        <tr>
                                            <td>Layer</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>10 Layer dengan 128 Hidden Units tiap Layer</td>
                                        </tr>
                                        <tr>
                                            <td>Fungsi Aktivasi</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>Rectified Linear Units (ReLU)</td>
                                        </tr>
                                        <tr>
                                            <td>Learning Rate</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>0.001</td>
                                        </tr>
                                        <tr>
                                            <td>Losses Target</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>Mean Absolute Error (MAE)</td>
                                        </tr>
                                        <tr>
                                            <td>Optimizer</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>Adam Optimizer</td>
                                        </tr>
                                        <tr>
                                            <td>Epoch Training</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>Adaptive Learning Rate</td>
                                            <td> &emsp; : &emsp; </td>
                                            <td>Yes</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->





    <!-- Bootstrap core JavaScript-->
    <script src="../static/infomodel/vendor/jquery/jquery.min.js"></script>
    <script src="../static/infomodel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/infomodel/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/infomodel/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/infomodel/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/infomodel/js/demo/chart-area-demo.js"></script>
    <script src="../static/infomodel/js/demo/chart-pie-demo.js"></script>

{% include "landingpage/footerlp.html" %}