{% include "landingpage/headerlp.html" %}
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->

    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
<br> <br>
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="../static/assetslp/images/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Tentang WebApps Teman Prediksi Berlian Anda</h4>
                        <span>Aplikasi web sederhana ini dibuat berdasarkan tim kami yang melihat bahwa belum ada atau
                            masih
                            jarang aplikasi serupa yang dapat memberikan prediksi terutama pada harga berlian
                            berdasarkan input yang user berikan serta detail mengenai hasil prediksi yang dapat
                            dikirimkan langsung kepada user untuk kemudahan melihat info hasil prediksi
                            .</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Inputkan datanya dan dapatkan hasil prediksi serta
                            infonya detailnya!
                            .</p>
                        </div>
                        <p>Selain itu, pembuatan aplikasi web sederhana juga bertujuan untuk menambah sedikit
                            portofolio dari tim pengembang
                            .</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our  Team</h2>
                        <span>Mari
                            lihat profil dari tim kami yang menegembangkan aplikasi ini dan jika ada yang
                            ditanyakan bisa hubungi kontak yang disediakan</span>
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.instagram.com/kelanach/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://wa.me/+6285727771176"
                                               target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/kelanach/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://medium.com/@kelanach" target="_blank"><i class="fa fa-medium"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="../static/assetslp/images/ws.jpg">
                        </div>
                        <div class="down-content">
                            <h4>Kelana Chandra Helyandika</h4>
                            <span>Prik</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Fitur yang kami sediakan</h2>
                        <span>Detail fitur yang user dapat gunakan dan manfaatkan dalam aplikasi Teman Prediksi
                            Berlian Anda
                            .</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Prediksi Berlian</h4>
                        <p class = "d-flex">Lakukan prediksi harga berlian dengan melakukan input pada form yang sudah
                            disediakan.
                            Jika masih bingung mengenai variabel/input yang disediakan, kami juga menyediakan halaman
                            khusus mengenai info tiap variabel input. Karena hal tersebut, tunggu apalagi? mari coba
                            lakukan prediksi Anda.
                            .</p>
                        <img src="../static/assetslp/images/a.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Kirim Detail Prediksi</h4>
                        <p>Anda dapat mendapatkan detail mengenai prediksi berdasarkan input yang sudah Anda berikan
                            dengan melakukan input email Anda pada halaman hasil prediksi, maka detail mengenai hasil
                            prediksi akan dikirimkan ke email yang sudah Anda inputkan.
                            .</p>
                        <img src="../static/assetslp/images/service-02.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->



    <!-- ***** Footer Start ***** -->
    {% include "landingpage/footerlp.html" %}
